.scumsheet-body
  .name-block
    .fields 
      .field-row
        label name
        input(type='text', name='name', value="{{actor.name}}", placeholder='Kid Pomade', spellcheck='false')
      .field-row
        label a
        input(type='text', name='system.background', value="{{data.system.background}}", placeholder='Drifter', spellcheck='false')
      .field-row
        label wanted for
        input(type='text', name='system.wantedFor', value="{{data.system.wantedFor}}", placeholder='Repeated fraud', spellcheck='false')
    .reward
      label(data-i18n='reward') reward
      .reward-row
        .input-wrapper
          input(type='number', name='system.rewards', value="{{data.system.rewards}}") 
        span.big-s
          label S
  .abilities-block
    .ability-col
      each abil in ['grit', 'slick', 'wits', 'luck']
        .ability
          .top-label.name 
            span(class='rollable ability-name' data-ability=`${abil}`)=abil
          .value
            input(type='number', name=`system.abilities.${abil}`, value=`{{data.system.abilities.${abil}}}`, placeholder=0)
    .portrait-col
      img(src='{{actor.img}}', title='{{actor.name}}', data-edit="img")
    .condition-col
      .top-label.conditions-and-notes Conditions & Notes
      .condition-row.miserable
        .checkbox
          label(class='check-container')
            | <input type="checkbox" name="system.miserable" {{#if data.system.miserable}}checked{{/if}} />
            span(class='checkmark')        
        .non-checkbox
          span(data-i18n='miserable') Miserable
          | &nbsp;(
          input(type='text', name='system.misery', value='{{data.system.misery}}', spellcheck='false')
          | &nbsp;). 
          span You don't recover HP from rest
          | .
      .condition-row.drunk 
        .checkbox
          label(class='check-container')
            | <input type="checkbox" name="system.drunk" {{#if data.system.drunk}}checked{{/if}} />
            span(class='checkmark')           
        .non-checkbox
          span Drunk
          | .
          span Swap your
          input(type='text', name='system.drunkAbility1', value='{{data.system.drunkAbility1}}', spellcheck='false')
          | &nbsp;
          span and
          input(type='text', name='system.drunkAbility2', value='{{data.system.drunkAbility2}}', spellcheck='false')
          | &nbsp;until sober.
      .condition-row.notes
        textarea(name='system.condition1', placeholder="Notes and such", spellcheck='false') {{data.system.condition1}}
      .condition-row.notes
        textarea(name='system.condition2', placeholder="More of 'em", spellcheck='false') {{data.system.condition2}}

  .hp-block 
    .stat-block.hp 
      .name 
        span hp
      .value 
        input(type='number', name='system.hp.value', value='{{data.system.hp.value}}',placeholder=0)
    .stat-block.max-hp 
      .name 
        span max hp
      .value 
        input(type='number', name='system.hp.max', value='{{data.system.hp.max}}',placeholder=0)
    .stat-block.aces 
      .name 
        span aces
      .value 
        input(type='number', name='system.aces', value='{{data.system.aces}}',placeholder=0)

  .equipment-block
    .eq-col-1
      .eq-section.on-your-head
        .top-label
          span on your head
        .eq-row
          input(type='text', name='system.headSlot', value='{{data.system.headSlot}}')
      .eq-section.skills
        .skills-label
          span skills
        each rownum in [1,2,3,4,5,6]
          .eq-row
            input(type='text', name=`system.skill${rownum}`, value=`{{data.system.skill${rownum}}}`)
    .eq-col-2
      .eq-section.on-your-belt
        .top-label
          span on your belt
        each rownum in [1,2,3]
          .eq-row
            input(type='text', name=`system.beltSlot${rownum}`, value=`{{data.system.beltSlot${rownum}}}`)
      .eq-section.on-your-back
        .top-label
          span on your back
        each rownum in [1,2,3]
          .eq-row
            input(type='text', name=`system.backSlot${rownum}`, value=`{{data.system.backSlot${rownum}}}`)
    .eq-col-3 
      .eq-section.in-your-pockets
        .top-label
          span in your pockets
        each rownum in [1,2,3,4,5,6,7,8,9,10]
          .eq-row
            input(type='text', name=`system.pocketSlot${rownum}`, value=`{{data.system.pocketSlot${rownum}}}`)
